<launch>
<arg name="gui" default="true"/>


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find first_amr_rover)/model/small_factory_final.sdf"/> -->
    <arg name="world_name" value="$(find first_amr_rover)/model/new_amr.world"/>
    <!-- <arg name="world_name" value="$(find first_amr_rover)/model/new_amr_with_drop.world"/> -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
  </include>
    <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find first_amr_rover)/urdf/first_amr_rover.urdf -urdf -model first_amr_rover"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />



    <node pkg="ira_laser_tools"
      type="laserscan_multi_merger"
      name="scan_merger"
      output="screen">

  <param name="destination_frame" value="base_link"/>
  <param name="cloud_destination_topic" value="/merged_cloud"/>
  <param name="scan_destination_topic" value="/scan"/>
  <param name="laserscan_topics" 
         value="/scan0 /scan1"/>

  <!-- <param name="angle_min" value="-2.3565"/>
  <param name="angle_max" value="2.3565"/>
  <param name="angle_increment" value="0.005799"/> -->
</node>
</launch>
